<div class="row-fluid span12">
      <h1>Editar detalle de gastos de envio</h1>
    <%= form_for(@gastos_envio) do |f| %>
      <% if @gastos_envio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gastos_envio.errors.count, "Problema") %>. No ha podido ser salvado el cambio:</h2>

          <ul>
          <% @gastos_envio.errors.each do |attr, msg| %>
             <li><%= "#{msg}"%></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :id %>
        <%= f.text_field :id %> (Este es mejor no tocarlo. Se rellena solo)
      </div>

      <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
        <div id="container-fluid">
          <section class="row-fluid" >
            <div class="span12">
              <div class="field span4">
                <%= f.label :tipo %>
                <%= f.text_field :tipo %>
              </div>
              <div class="field span4">
                <%= f.label :kilos %>
                <%= f.text_field :kilos %>
              </div>
              <div class="field span4">
                <%= f.label :precio %>
                <%= f.text_field :precio %>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Aceptar cambios",class:"btn btn-success" %>
      </div>
    <% end %>
</div>
<%= link_to 'Volver a la lista de Gastos de envio', gastos_envios_path,class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>
