<div class="span12">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
          <h3>Gestión de Gastos de Envio</h3>
          <%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>
          <%= link_to 'Crear nueva regla', new_gastos_envio_path,class:"btn btn-link pull-right" %><i class="icon-plus pull-right"></i>
          <table class="table table-striped table-condensed ">
            <tr>
              <th style="background-color: #E67026;">Id.</th>
              <th style="background-color: #E67026;">Tipo</th>
              <th style="background-color: #E67026;">Kilos</th>
              <th style="background-color: #E67026;">Precio</th>
              <th style="background-color: #E67026;">Editar</th>
              <th style="background-color: #E67026;">Eliminar</th>
            </tr>
            <% @gastos_envios.each do |gastos_envio| %>
                <tr>
                  <td><%= gastos_envio.id %></td>
                  <td><%= gastos_envio.tipo %></td>
                  <td><%= gastos_envio.kilos %></td>
                  <td><%= gastos_envio.precio %></td>
                  <td><%= link_to 'Modificar', edit_gastos_envio_path(gastos_envio),class:"btn btn-success" %></td>
                  <td><%= link_to 'Borrar', gastos_envio, method: :delete, data: { confirm: '¿Estas seguro?' } ,class:"btn btn-danger" %></td>
                </tr>
            <% end %>
          </table>
          <br/>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="row-fluid">

  <div class="span4"><%= link_to 'Crear nueva regla', new_gastos_envio_path,class:"btn btn-inverse" %></div>
  <div class="span4">
    <%= link_to 'Gastos de envio como al principio', "/gastos_envios/resetearValores",class:"btn btn-warning" %><br/><br/>
    <%= link_to 'Gastos de envio a 0, menos el reembolso', "/gastos_envios/gastosEnvioCero",class:"btn btn-warning" %> <br/>
  </div>
  <div class="span4"><i class="icon-backward"> </i><%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link" %></div>
</div>












