<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @gastos_envio.tipo %>
</p>

<p>
  <b>Kilos:</b>
  <%= @gastos_envio.kilos %>
</p>

<p>
  <b>Precio:</b>
  <%= @gastos_envio.precio %>
</p>


<%= link_to 'Edit', edit_gastos_envio_path(@gastos_envio) %> |
<%= link_to 'Back', gastos_envios_path %>
