<script>
    $("#contacto").css ("background-color", "#FF871F")
</script>
  <div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;">
    <div class="row-fluid">
          <div class="well form-inline span5">
                <%= form_for @message, :url => contacto_path do |form| %>

                <div class="row-fluid">
                  <div class="controls">
                    <div class="input-prepend">
                      <div class="span1" align="right">
                        <%= form.label :name,'<span class="add-on" id="inputIcon"><i class="icon-user"></i></span>'.html_safe%>
                      </div>
                      <div class="span10" align="left" style="padding-left: 7px">
                        <%=form.text_field :name,:placeholder => " ¿Tú Nombre y Apellido?",class:"span5",style: "min-width: 100%;"%>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="controls">
                    <div class="input-prepend">
                      <div class="span1" align="right">
                        <%= form.label :email,'<span class="add-on" id="inputIcon"><i class="icon-envelope"></i></span>'.html_safe%>
                      </div>
                      <div class="span10" align="left" style="padding-left: 7px">
                        <%=form.text_field :email,:placeholder => "¿Cual es tu email?",class:"span5",style: "min-width: 100%;" %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span12" align="left" >
                    <%= form.text_field :subject,:placeholder => "¿De que trata?",class:"span12",style: "min-width: 100%;"  %>
                  </div>
                </div>
                <br>
                <%= form.text_area :body ,:size => "200x10",:placeholder => "Cuentame..",class:"span12"%>
                <p>
                    <div class="actions" >

                        <%= form.submit "ENVIAR", class:"btn btn-primary"%>
                    </div>
                </p>

                <% end %>
          </div>
      <div class="span7">
      Amparo Garcia-Muñoz <br>
      Email:<%=mail_to "EnLaMachaOnline@gmail.com", "EnLaMachaOnline@gmail.com",class:"btn btn-link" %>  <br>
      Teléfono: 926 26 08 96 (fijo), 661456963(movil)<br>
      Dirección:<br>
        <ul>
          <li>Parque Nacional Tablas de Daimiel, Km 10</li>
          <li>C/Juan Romero 10, Daimiel (Ciudad Real), CP:13250</li>
        </ul>

      <hr>
      <iframe style="width: 95%; margin 0 auto;border:10px groove #FF871F;" width="425" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/assets/tablas_contacto.jpg"> </iframe>

      </div>

  </div>
</div>
