<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>

<div class="control-group">
  <div class="well form-inline offset4 span4">
    <div class="control-group">
      <%= form_tag do %>
            <legend>Hola! ¿quien eres?</legend>
            <div class="control-group">
              <%= label_tag :name, 'Soy:' %><br/>
              <%= text_field_tag :name, params[:name],:placeholder => "(nombre)" %>
            </div>
            <div class="control-group">
              <%= label_tag :password, 'Contraseña:' %><br/>
              <%= password_field_tag :password, params[:password],:placeholder => "(clave)" %>
            </div>
          <%if session[:intentos_accesos]>0 %>
            <br/>
            <%= recaptcha_tags%>
          <%end%>
          <br/>
          <div class="field">
            <%= label_tag :remember_me ,"Recuerdame cuando me identifique "%>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          </div>
          <div class="row-fluid">
            <div class="span1">
              <div class="control-group">
                  <%= submit_tag "Identificame", class:"btn btn-primary" %>
              </div>
            </div>
            <div class="offset5">
              <div class="control-group">

              </div>
            </div>
          </div>
      <% end %>
      <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4"><%= button_to "¡Regístrate!",new_user_path,method: :get, class:"btn btn-success"%></div>
        <div class="span4"><%= link_to "Dame una nueva contraseña", new_password_reset_path, class:"btn btn-link"%></div>
      </div>
     </div>
  </div>
</div>
