<h1>Reseteo de contraseñas</h1><br/>
Hola, vamos a cambiar tu contraseña.<br/> Te enviaremos un email a tu correo electrónico con un enlace, accede a el y escribe una nueva contraseña.<br/> ¡ASÍ DE FÁCIL!<br/><br/>
<%= form_tag password_resets_path, :method => :post do %>
    <div class="row-fluid span12">
      <%= email_field_tag :email, params[:email],:placeholder => "¿Con que email te registraste?",class:"span3"%>
      <br/><%= submit_tag "Mandar enlace" ,class:"btn btn-primary span2"%>
    </div>
<% end %>
