<h1><a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a>. Servicio de cambio de contraseña</h1>
Para resetear su contraseña haga click en el enlace:

<%= edit_password_reset_url(@user.password_reset_token) %>

Si usted no pidio resetear su contraseña, por favor ignore este correo. No hay más problema.<br/><br/>

Pd: recuerde que su nombre para identificarse sigue siendo: <b>@user.name</b>

