<div class="row-fluid" style="padding-top: 20px">
  <div class="span3">
    <p>
      <b>Name:</b>
      <%= comment.name %>
    </p>
  </div>
  <div class="span3">
    <p>
      <b>Email:</b>
      <%= comment.email %>
    </p>
  </div>
  <div class="span3">
    <%= link_to 'Modificar este comentario', edit_article_comment_path(@article, comment),class:"btn btn-success" %>
  </div>
  <div class="span3">
    <%= link_to 'Eliminar este comentario', article_comment_path(@article, comment), :confirm => '¿Estas seguro?', :method => :delete,class:"btn btn-danger" %>
  </div>
    <p>
      <b><u>Cuerpo del comentario:</u></b>
      <%= comment.body.html_safe %>
    </p>
</div>
<hr>
