<div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;">
  <div class="container-fluid">
    <div class="row-fluid">
        <p>
          <h3><b>Titulo: </b>
          <%= article.title %>
          </h3>
        </p>
        <p>
          <h4><b>Cuerpo del artículo:</b></h4>
          <%= article.body.html_safe %>
        </p>
        <%= link_to 'Editar Comentarios', article ,class:"btn btn-primary"%>
        <%= link_to 'Modificar Articulo', edit_article_path(article),class:"btn btn-success" %>
        <%= link_to 'Eliminar Articulo y Comentarios', article, :confirm => 'Are you sure?', :method => :delete,class:"btn btn-danger" %>
    </div>
  </div>
</div>