<div class="span12">
  <div class="hero-unit">
    <h3>Nuevo articulo</h3><br/>
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "Problema") %>. El articulo no puede ser salvado:</h2>

          <ul>
          <% @article.errors.each do |attr, msg| %>
            <li><%= "#{msg}"%></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row-fluid">
        <div class="span4">
          <div class="field">
            <%= f.label :title ,"Título"%>
            <%= f.text_field :title %>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <div class="field">
            <%= tinymce_assets %>
            <%= f.label :body ,"Cuerpo del articulo"%>
            <%= f.text_area :body, :class => "tinymce span12" %>
            <%= tinymce%>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <div class="actions">
            <%= f.submit "ACEPTAR", class:"btn btn-primary"%>
          </div>
        </div>
        <div class="span4"></div>
        <div class="span4">
          <i class="icon-backward"> </i><%= link_to 'Volver a todos los articulos', articles_path, class: "btn btn-link" %>
        </div>
      </div>

    <% end %>
  </div>
</div>