<div class="row-fluid">
  <div class="span6">
    <h1>Listado de Articulos</h1>
  </div>
  <div class="span6">
    <div class="row-fluid">
      <div class="span12" align="right">
        <%= form_tag "/articles/busqueda", :method => 'put',:class => 'form-search' do %>
            <p>
              <%= text_field_tag :search, params[:search],class:"input-medium search-query",:placeholder => "Buscar articulo por nombre",style: "min-width: 40%;" %>
              <%= submit_tag "Search", :value => 'OK',class:"btn" %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>
  <%= link_to 'Crear Articulo', new_article_path,class:"btn btn-link pull-right" %><i class="icon-plus pull-right"></i>
</div>

<%= render @articles %>
<%= will_paginate @articles, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
<br />
<div class="row-fluid">
  <div class="span4">
    <%= link_to 'Crear Articulo', new_article_path, class:"btn btn-inverse"%>
  </div>
  <div class="span4"></div>
  <div class="span4">
    <i class="icon-backward"> </i><%= link_to 'Volver al área de administración', admin_path, class: "btn btn-link" %>
  </div>
</div>

