<i class="icon-backward"> </i><%= link_to link_to 'Volver para ver todos los articulos', articles_path, class: "btn btn-link" %>
<br /> <br />
<div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;">
  <div class="container-fluid">
    <div class="row-fluid">
      <p>
      <h3><b>Titulo: </b>
        <%= @article.title %>
      </h3>
      </p>
      <p>
      <h4><b>Cuerpo del artículo:</b></h4>
      <%= @article.body.html_safe %>
      </p>


<%= link_to 'Modificar este articulo', edit_article_path(@article),class:"btn btn-success"  %>
<%= link_to 'Eliminar Articulo y Comentarios', @article, :confirm => 'Are you sure?', :method => :delete,class:"btn btn-danger" %>

    </div>
  </div>
</div>

<h4>Comentarios (<%=@article.comments.count%>)</h4>
<div id ="comments">
  <%= render @article.comments || 'No hay comentarios disponibles.'%>
</div>

<br/><h4>Nuevo comentario para este articulo</h4>
<%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="row-fluid">
      <div class="span4">
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
                  <%=f.text_field :name,:placeholder => "¿Nombre?",class:"span2", style: "min-width: 90%;",value: @logueado.name %>
            </div>
          </div>
        </div>

        <br>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
                  <%=f.text_field :email,:placeholder => "¿Email?", class:"span2",style: "min-width: 90%;"%>
            </div>
          </div>
        </div>
        <br>
        <p><%= f.submit "PUBLICAR COMENTARIO",class:"btn btn-large btn-danger", style: "font-size: 28px;"%></p>
      </div>
      <div class="span8">
        <%= f.text_area :body ,:rows => 8, :cols => 40,class:"span12",:placeholder => "Opino que..."%>
      </div>
    </div>

<% end %>
