<h1><a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a>. Cambio de estado en su pedido.</h1>
Estimado <%= @order.name %>:<br/>

Su pedido con <b>Código <%= @order.id %></b> consta de:<br/><br/>
<table>
  <tr><th>Cantidad</th><th>Nombre del producto</th><th>Precio</th></tr>
  <%= render @order.line_items %>
</table>
<br/>El precio del pedido es: <%=@order.precioTotal%> € <br/>
Los gastos de envio son: <%=@order.gastosEnvio%> € <br/>

Quedando un total a pagar de: <b><%=@order.precioTotal+@order.gastosEnvio%> €</b>

<p>Usted nos indico que su pedido se realizaria mediante <%=@order.pay_type%> y le informamos que el estado de su pedido ha cambiado a <b><%=@order.estadoPedido%></b><p><br/>

<%if @order.estadoPedido=="Pago recibido, creando pedido"%>
<p>Hemos recibido su pago y en estos momentos estamos creando su pedido. Pronto tendrá noticias nuestras cuando este acabado.</p>
Le iremos informando del estado de su pedido. Tambien podrá comprobarlo, despues de identificarse, en su sección de usuario (ver mis compras y detalles)<br/><br/>
<%end%>

<%if @order.estadoPedido=="Pedido enviado y finalizado"%>
<p>Su pedido esta en camino, ya esta terminado y esperamos que le guste. Para cualquier consulte nuestra sección de contacto<p>
  <%if @order.localizador!="-"%>
    Si quiere puede ver el estado del viaje de su pedido en http://www.correos.es gracias a su identificador <b><%=@order.localizador%></b><br/>
    Muchas gracias en confiar en nosotros y esperamos volver a verle pronto en nuestra tienda online.<br/>
  <%end%>
<%end%>


<br/><br/>Un cordial saludo :)
