<h1><a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a>. Nuevo pedido.</h1>
Estimado <%= @order.name %>:<br/>
Grácias por su compra, a continuacion le detallamos su contenido y le instamos a guardar este email para futuras consultas.

Su pedido con <b>código <%= @order.id %></b> consta de:<br/><br/>
<table>
<tr><th>Cantidad</th><th>Nombre del producto</th><th>Precio</th></tr>
<%= render @order.line_items %>
</table>
<br/>El precio del pedido es: <%=@order.precioTotal%> € <br/>
Los gastos de envio son: <%=@order.gastosEnvio%> € <br/>

Quedando un total a pagar de: <b><%=@order.precioTotal+@order.gastosEnvio%> €</b>

<p>Usted nos indico que su pedido se realizaria mediante <%=@order.pay_type%>.</p>

<%if @order.pay_type == "Transferencia Bancaria"%>
  <p>En el momento que recibamos el pago, procederemos a la creacion de su pedido y pronto lo tendra en sus manos
  Para realizar el pago haga un ingreso indicando el Codigo de su pedido por ejemplo asi: Pedido Código 1234.
  Cuenta bancaria: 1234454254235</p>
<%end%>

<%if @order.pay_type == "Reembolso"%>
  <p>Nos ponemos desde este mismo instante a trabajar para que tenga su pedido lo antes posible :)</p>
<%end%>

<%if @order.pay_type == "Paypal"%>
    <p>En el momento que recibamos el pago, procederemos a la creacion de su pedido y pronto lo tendra en sus manos
    Para realizar el pago haga un ingreso indicando el Codigo de su pedido por ejemplo asi: Pedido 22.
    Cuenta PayPal: enlamanchaonline@gmail.com</p>

<%end%>

<br/>Le iremos informando del estado de su pedido. Tambien podrá comprobarlo, despues de identificarse, en su sección de usuario (ver mis compras y detalles)<br/><br/>

Un cordial saludo :)

