<h1><a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a>. NUEVO PEDIDO!!.</h1>
</br><b><u>Datos del pedido creado por el usuario <%= @order.usuario%></u></b><br/>
Nombre: <%= @order.name %><br/>
Dirección: <%= @order.address%><br/>
Provincia: <%= @order.provincia%><br/>
Poblacion: <%= @order.poblacion%> <br/>
Pais: <%= @order.pais%><br/>
CP: <%= @order.cp%> <br/>
Email: <%= @order.email%> <br/>
Teléfono: <%= @order.telefono%> <br/>
Detalles indicados por el cliente, <%= @order.name %>:  <%if @order.details!=nil%>
                                                                <%= @order.details %>
                                                            <%else%> Ningun detalle
                                                            <%end%>

<br/>
(Recuerda que el pedido puede ser de un usuario y los datos del pedido distintos a los del usuario.
Esto hace que se puedan hacer regalos, por ejemplo.)
<br/><br/>
El pedido tiene <b>código <%= @order.id %></b> y consta de:<br/>
<table>
  <tr><th>Cantidad</th><th>Nombre del producto</th><th>Precio</th></tr>
  <%= render @order.line_items %>
</table>
El precio del pedido es: <%=@order.precioTotal%> € <br/>
Los gastos de envio son: <%=@order.gastosEnvio%> € <br/>

Quedando un total a pagar de: <b><%=@order.precioTotal+@order.gastosEnvio%> €</b>

<p>Nos indico que su pedido se realizaria mediante <b><%=@order.pay_type%>.</b> </p>

  <%if @order.pay_type == "Transferencia Bancaria"%>
    <p>En este caso hay que mirar la cuenta de banco para ver si se hizo el ingreso para este pedido.
      Cuando se haya realizado el pago en la cuenta, cambiar el estado del pedido en la
      <a href="http://www.enlamanchaonline.es/">web</a> y proceder a realizar el pedido</p>
  <%end%>

  <%if @order.pay_type == "Reembolso"%>
    <p>En este caso el pago se realizara con la entrega asi que hay que solo hay que ponerse a trabjar para mandar el
      pedido cuanto antes.</p>
  <%end%>

  <%if @order.pay_type == "Paypal"%>
    <p>En este caso hay que mirar la cuenta de <a href="http://www.paypal.com/">PayPal</a> para ver si se hizo
      ya el ingreso para este pedido.<br/>
      Cuando se haya realizado el pago, aceptar el pago en PayPal y cambiar el estado del pedido en la web.
      Por último solo queda proceder a realizar el pedido<br/>
      Recuerda que tu cuenta de PayPal es: enlamanchaonline@gmail.com
      </p>
  <%end%>


<br/>..y eso es todo, animo y al tajo!.<br/>
Desde <a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a> un cordial saludo, JEFE :)


