<h1><a href="http://www.enLaManchaOnline.es/">En LaMancha Online</a>. ¡¡¡ BIENVENIDO !!! <%= @user.name%></h1>
Para acceder a nuestra web use la siguiente información:<br>
Usuario: <%= @user.name%> <br>
Contraseña: <%= @user.password%><br><br/>

Un cordial saludo y esperamos que disfrute de este pedacito de Castilla LaMancha<br/><br/>

<p>Nota:<br/>
Le sugerimos que guarde este email para futuras consultas;
a todos se nos olvida nuestras contraseñas :P<br/>
De todas maneras, siempre puede recuperarla con su nombre de usuario: <b><%= @user.name%></b> y la dirección
web <a href="http://www.enLaManchaOnline.es/password_resets/new">de reseteo de contraseñas</a>.
</p>