<div class="span12">
  <div class="hero-unit">
    <!--  Carousel - consult the Twitter Bootstrap docs at
        http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 2000
            });
        });
    </script>
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <%=image_tag("introCarrusel.jpg")%>
          <div class="carousel-caption">
            <p>Imagen de inicio como logo</p>
          </div>
        </div>
       <% @carrusel.each do |imagen| %>
            <div class="item"><!-- class of active since it's the first item -->
              <img src="<%=imagen.photo_path%>" alt="" />
              <div class="carousel-caption">
                <p><%=imagen.title%> <%= link_to "(Ver detalles)",imagen, :method => "get", class:"btn btn-link"%></p>
              </div>
            </div>
        <% end %>

      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

      <br />
      En un lugar de La Mancha despegamos con la ilusi&oacute;n de mostrar al mundo los m&uacute;ltiples productos buen&iacute;simos que hacemos los manchegos<br />
      <br />
      Estas en algo m&aacute;s que una p&aacute;gina web. Es una plataforma OnLine que funciona como punto de encuentro entre usuarios, profesionales y firmas. En otras palabras, reunimos a toda la comunidad que, de una u otra forma, est&aacute; vinculada a los productos artesanos de Castilla LaMancha.
      <br /> <br />
      En &ldquo;<strong>La Mancha on line</strong>&rdquo; trabajamos tanto para particulares como para empresas.
      Tenemos capacidad para dar respuesta a todos los niveles y nuestros servicios est&aacute;n estructurados
      para dar cobertura a tus necesidades, en funci&oacute;n de tus objetivos y presupuesto. Aqui tienes un resumen de nuestras actividades:

    <br/><br/>
    <ul>
      <li>
        <%= link_to 'Conocer por dónde nos movemos y estar al día de los últimos productos y noticias',blog_path,class:"btn btn-link"%></li>
      <li>
        <%= link_to 'Comprar artesanía y productos manchegos',store_path,class:"btn btn-link"%></li>
      <li>
        <%= link_to 'Encargar productos personalizados',disenyo_path,class:"btn btn-link"%></li>
      <li>
        <%= link_to 'Salva a tus muebles del olvido. Dejalos en nuestras manos para su restauración',disenyo_path,class:"btn btn-link"%></li>
      <li>
        <%= link_to 'Resolver tus dudas sobre pedidos, envíos, etc',preguntas_frecuentes_path,class:"btn btn-link"%></li>
      <li>
        <%= link_to 'Ponerte en contacto con nostros para cualquier consulta o incidencia',contacto_path,class:"btn btn-link"%></li>
    </ul>
    <br/><br/>
    <h4 style="text-align:center;">
        <strong>BIENVENIDOS</strong> a este rinc&oacute;n donde todo es posible ya que <strong><u>SI PUEDES SO&Ntilde;ARLO, PUEDES TENERLO</u></strong>.</h4>
  </div>
</div>




