<div class="depot_form">
  <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "Problema") %>
              . El usuario no puede ser guardado:</h2>
            <ul>
              <% @user.errors.each do |attr, msg| %>
                  <li><%= "#{msg}"%></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <fieldset>
        <legend>Ingresa los detalles de usuario</legend>
        <br>
        <div class="row-fluid">
            <div class="span4">
              <%= f.hidden_field :tipo, value:"" %>
              <i class="icon-user"></i> Nombre <br/>
              <%=f.text_field :name,:placeholder => "¿Nombre?", class:"span2",style: "min-width: 70%;" %>
            </div>
            <div class="span4">
              <i class="icon-signal"></i> Telefono <br/>
              <%=f.text_field :telefono,:placeholder => "¿Teléfono?", class:"span2",style: "min-width: 65%;" %>
            </div>
            <div class="span4">
              <i class="icon-envelope"></i> Email <br />
              <%=f.text_field :email,:placeholder => "¿Email?", class:"span2",style: "min-width: 70%;" %>
            </div>
        </div>
        <br>
        <div class="row-fluid">
          <div class="span4">
              <i class="icon-map-marker"></i> Direccion completa <br />
              <%=f.text_field :direccion_completa,:placeholder => "Direcion completa. Ej: C/mayor 3, Piso 3ºJ", class:"span2",style: "min-width: 100%;" %>
          </div>
          <div class="span2">
              <i class="icon-map-marker"></i> Código Postal<br />
              <%=f.text_field :cp,:placeholder => "¿Código postal?", class:"span2",style: "min-width: 100%;" %>
          </div>
          <div class="span2">
            <i class="icon-map-marker"></i> Provincia<br />
            <%=f.text_field :provincia,:placeholder => "¿Provincia?", class:"span2",style: "min-width: 100%;" %>
          </div>
          <div class="span2">
            <i class="icon-map-marker"></i> Población  <br />
            <%=f.text_field :poblacion,:placeholder => "¿Población?", class:"span2",style: "min-width: 100%;" %>
          </div>
          <div class="span2">
            <i class="icon-map-marker"></i> Pais <br />
            <%=f.text_field :pais,:value => "España", class:"span2",style: "min-width: 100%;" %>
          </div>
          (Los envios fuera de la Peninsula Ibérica podrían tener costos añadidos en los gastos de envio. Consultenos.)
        </div>
        <br>
        <div class="row-fluid">
          <%if @logueado != nil and @logueado.tipo=="xerif" %>
              <div class="span4">
                <i class="icon-hand-right"></i> Contraseña: <%= f.password_field :password, size: 40,:placeholder => "¿Contraseña?" %>
              </div>
              <div class="span3">
                <i class="icon-hand-right"></i> <%= f.select :tipo, options_for_select([ "usuario", "xerif" ]),prompt: 'Tipo de usuario' %>
              </div>
              <div class="span5">
                <i class="icon-thumbs-up"></i> Repite la contraseña: <%= f.password_field :password_confirmation, size: 40,:placeholder => "Repite la misma contraseña" %>
              </div>

          <%else%>
              <div class="span6">
                <i class="icon-hand-right"></i> Tu contraseña: <%= f.password_field :password, size: 40,:placeholder => "¿Contraseña?" %>
              </div>
              <div class="span6">
                <i class="icon-thumbs-up"></i> Repite la contraseña: <%= f.password_field :password_confirmation, size: 40,:placeholder => "Repite la misma contraseña" %>
              </div>
          <%end%>

        </div>
        <br/><br/><br/>
        <div class="row-fluid">

          <div class="span4"><%= f.submit "ACEPTAR", class:"btn btn-primary",style: "font-size: 20px;"%></div>
          <div class="span4"></div>
          <div class="span4">
            <%if @logueado != nil and @logueado.tipo=="xerif" %>
                <i class="icon-backward"> </i><%= link_to 'Volver a todos los usuarios', users_path, class: "btn btn-link" %>
                <%else%>
                <i class="icon-backward"> </i><%= link_to 'Volver', :back, class: "btn btn-link" %>
            <%end%>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>
<br>