<div class="span9">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
          <h3>Lista de tus pedidos</h3>
            <%if @orders%>
              <table class="table table-striped table-condensed ">
                <tr>
                  <th style="background-color: #E67026;">Codigo</th>
                  <th style="background-color: #E67026;">Nombre</th>
                  <th style="background-color: #E67026;">Teléfono</th>
                  <th style="background-color: #E67026;">Tipo de pago</th>
                  <th style="background-color: #E67026;">Precio TOTAL</th>
                  <th style="background-color: #E67026;">Estado</th>
                  <th style="background-color: #E67026;">Detalles</th>
                </tr>

                <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= order.name %></td>
                      <td><%= order.telefono %></td>
                      <td><%= order.pay_type %></td>
                      <td><%= order.precioTotal+order.gastosEnvio %></td>
                      <td><%= order.estadoPedido %></td>
                      <td>
                        <!-- Button to trigger modal -->
                        <a href="#myModa<%= order.id %>" role="button" class="btn" data-toggle="modal">Ver</a>
                        <!-- Modal -->
                        <div id="myModa<%= order.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Detalles del pedido con código <%= order.id %></h3>
                          </div>
                          <div class="modal-body">
                            <%= order.created_at.strftime("%d/%m/%Y") %><br/><br/>
                            DATOS PERSONALES <br/>
                            Nombre: <%= order.name %><br/>
                            Teléfono: <%= order.telefono %><br/>
                            Email: <%= order.email %><br/>
                            Direccion: <%= order.poblacion %> (<%= order.provincia %> ). <%= order.address %> , CP: <%= order.cp%>, <%= order.pais %>   <br/><br/>

                            DETALLES DEL PEDIDO<br/>
                            Detalles del pedido: <%= order.details %><br/>
                            Estado del pedido a <%= order.updated_at.strftime("%d/%m/%Y") %>: <b><%= order.estadoPedido %></b><br/>
                            Localizador del pedido: <%= order.localizador %><br/><br/><br/>
                            <table class="table table-striped table-condensed ">
                              <%= render order.line_items %>
                            </table>
                            Total de la compra: <%= order.precioTotal %> € <br/>
                            Gastos de envio: <%= order.gastosEnvio %> €    <br/>
                            Total a pagar: <b><%= order.gastosEnvio+order.precioTotal %> €  </b>    <br/>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                <% end %>
              </table>
            <%else%>
                <p>No hay pedidos pendientes</p>
            <%end%>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="span3">

  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">HOLA, ¿QUIEN ERES?</li>
      <li class="divider"/></li>
      <br> <span style="font-size: 20px;"  >Soy:
      <%if @usuarioActual%>
                <%=@usuarioActual.name %>
          <br><br>
          <i class="icon-hand-right"></i><%= link_to "Ver mis compras y detalles", "#",class:"btn btn-link",style:"padding: 0px 0px" %>
          <i class="icon-hand-right"> </i><%= link_to ' Modificar mis datos', edit_user_path(@usuarioActual),class:"btn btn-link",style:"padding: 0px 0px" %>

          <%if @usuarioActual.tipo=="xerif"%>
                    <%= link_to "Area de Administrador", admin_path,class:"btn btn-link",style:"padding: 0px 0px" %>
                <%end %>
            <%else %>
                <%='٩(◕̯◕)۶'%>
            <%end %>
          </span>

      <%if !@usuarioActual%>
          <br><br>
          <div class="row-fluid">
            <div class="span1" align="center"><%= button_to "Soy: ..", login_path, class:"btn btn-success"%></div>
            <div class="offset3" align="center"><%= button_to "Contraseña Olvidada", new_password_reset_path, class:"btn btn-success"%></div>
          </div>
          <div class="row-fluid">
            <div class="span12" align="center">
              Si aun no eres usuario:
              <%= button_to "¡Regístrate!",new_user_path,method: :get, class:"btn btn-success"%>
            </div>
          </div>
      <%else %>
          <br><br>
          <div class="row-fluid">
            <div class="span6" align="center"><%= button_to "Cerrar sesion", logout_path,method: :delete, class:"btn btn-success"%></div>
          </div>
      <%end %>
    </ul>
  </div>
</div><!--/span-->