<div class="span12">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
          <div class="row-fluid">
            <div class="span12" align="right">
              <%= form_tag "/users/busqueda", :method => 'put',:class => 'form-search' do %>
                  <p>
                    <%= text_field_tag :search, params[:search],class:"input-medium search-query",:placeholder => "Buscar usuario por.." %>
                    <%= select_tag :subject, options_for_select([ "Por nombre", "Por email","Por teléfono" ])%>
                    <%= submit_tag "Search", :value => 'OK',class:"btn" %>
                  </p>
              <% end %>
            </div>
          </div>
        <h3>Lista de usuarios</h3>
          <%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>
          <%= link_to 'Crear usuario', new_user_path,class:"btn btn-link pull-right" %><i class="icon-plus pull-right"></i>
        <% if notice %>
            <p id="notice"><%= notice %></p>
        <% end %>
        <table class="table table-striped table-condensed ">
          <tr>
            <th style="background-color: #E67026;">Name</th>
            <th style="background-color: #E67026;">Mail</th>
            <th style="background-color: #E67026;">Dirección</th>
            <th style="background-color: #E67026;">Telf.</th>
            <th style="background-color: #E67026;">Editar</th>
            <th style="background-color: #E67026;">Eliminar</th>
          </tr>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.direccion_completa %></td>
                <td><%= user.telefono %></td>
                <td><%= link_to 'Modificar', edit_user_path(user),class:"btn btn-success" %></td>
                <td><%= link_to 'Borrar', user, method: :delete,
                                data: { confirm: '¿Estás seguro?' },class:"btn btn-danger" %></td>
              </tr>
          <% end %>
        </table>
        <%= will_paginate @users, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
        <br/>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="row-fluid">

  <div class="span4"><%= link_to 'Crear usuario', new_user_path,class:"btn btn-inverse" %></div>
  <div class="span4"></div>
  <div class="span4"><i class="icon-backward"> </i><%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link" %></div>
</div>

