    <div class="span9">
      <div class="hero-unit">
        <div class="bs-docs-grid">
        <%= form_for(@order) do |f| %>
          <% if @order.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@order.errors.count, "Problema") %>. El pedido no puede ser salvado:</h2>
              <ul>
              <% @order.errors.each do |attr, msg| %>
                <li><%= "#{msg}"%></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row-fluid show-grid">
            <div class="span4">
              <%= f.label :name ,'Nombre'%>
              <%if @logueado.tipo != "xerif"%>
                  <%= f.text_field :name ,value: @logueado.name  %>
              <%else%>
                  <%= f.text_field :name %>
              <%end%>
            </div>
            <div class="span4">
              <%= f.label :telefono,'Teléfono' %>
              <%if @logueado.tipo != "xerif"%>
                  <%= f.text_field :telefono, value: @logueado.telefono %>
              <%else%>
                  <%= f.text_field :telefono%>
              <%end%>
            </div>
            <div class="span4">
              <%= f.label :email, 'Email' %>
              <%if @logueado.tipo != "xerif"%>
                  <%= f.text_field :email, value: @logueado.email %>
              <%else%>
                  <%= f.text_field :email %>
              <%end%>
            </div>
          </div>
              <div class="row-fluid">
                <div class="span4">
                  <%= f.label :address,'Direccion completa' %>
                  <%if @logueado.tipo != "xerif"%>
                  <%=f.text_field :address,value:@logueado.direccion_completa %>
                  <%else%>
                      <%=f.text_field :address %>
                  <%end%>
                </div>
                <div class="span4">
                  <%= f.label :cp,'Codigo postal' %>
                  <%if @logueado.tipo != "xerif"%>
                  <%=f.text_field :cp,value: @logueado.cp %>
                  <%else%>
                      <%=f.text_field :cp %>
                  <%end%>
                </div>
                <div class="span4">
                  <%= f.label :provincia,'Provincia' %>
                  <%if @logueado.tipo != "xerif"%>
                  <%=f.text_field :provincia,value:@logueado.provincia%>
                  <%else%>
                      <%=f.text_field :provincia%>
                  <%end%>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span4">
                  <%= f.label :poblacion,'Población' %>
                  <%if @logueado.tipo != "xerif"%>
                  <%=f.text_field :poblacion,value:@logueado.poblacion%>
                  <%else%>
                      <%=f.text_field :poblacion%>
                  <%end%>
                </div>
                <div class="span4">
                  <%= f.label :pais,'Pais' %>
                  <%if @logueado.tipo != "xerif"%>
                  <%=f.text_field :pais, value:@logueado.pais %>
                  <%else%>
                  <%end%>
                </div>
              </div>
          <%if @logueado.tipo != "xerif" %>
                  <div class="row-fluid show-grid">
                    <div class="span12" align="center">
                      <div class="field">
                        <%= f.label :pay_type ,'Metodo de pago'%>
                        <%= f.select :pay_type, Order::PAYMENT_TYPES,{:prompt => "¿Cómo pagaras?"} ,:onchange => "
                            if (this.options[this.selectedIndex].value=='Reembolso'){
                                alert('La opción Reembolso incrementará el Total a Pagar +"+@cart.gastosReembolso.to_s+"€');
                                $('#cart').css('display', 'none');
                                $('#cartReembolso').css('display', 'block');
                            }
                            else if (this.options[this.selectedIndex].value=='Transferencia Bancaria' || this.options[this.selectedIndex].value=='Paypal' ){
                                $('#cartReembolso').css('display', 'none');
                                $('#cart').css('display', 'block');
                            }
                        "%>
                      </div>
                    </div>
                  </div><!--/row-fluid show-grid-->
          <%else%>
                  <div class="row-fluid show-grid">
                    <div class="span4" align="center">
                      <div class="field">
                        <%= f.label :pay_type ,'Metodo de pago'%>
                        <%= f.select :pay_type, Order::PAYMENT_TYPES,
                                     prompt: 'Método de pago' %>
                      </div>
                    </div>
                    <div class="span4" align="center">
                      <div class="field">
                        <%= f.label :estadoPedido ,'Estado del pedido'%>
                        <%= f.select :estadoPedido, Order::ESTADO_PEDIDO,
                                     prompt: 'Estado pedido' %>
                      </div>
                    </div>
                    <div class="span4" align="center">
                      <div class="field">
                        <%= f.label :localizador ,'Localizador'%>
                        <%= f.text_field :localizador, size: 40, value: @order.localizador %>
                      </div>
                    </div>
                  </div><!--/row-fluid show-grid-->
        <%end%>

          <div class="row-fluid show-grid">
              <div class="span12" align="center">
                  <div class="field">
                    <%= f.text_area :details, rows: 4, cols: 10,:placeholder => "¿Algún detalle relevante?",style:"width: 531px !important; height: 80px !important;"  %>
                  </div>
              </div>
          </div><!--/row-fluid show-grid-->

          <div class="row-fluid show-grid">
            - Para PyaPal y Transferencia se mandará por email la cuenta de PayPal o de Banco para que usted no tenga que darnos sus datos. También se le indicará la forma de realizar el pago.<br/>
            - En caso de Reembolso tendra un gasto añadido de 8€.
          </div>
          <br/>

          <div class="row-fluid show-grid">
              <div class="span2">
                  <div class="actions">
                    <%= f.submit 'Finalizar pedido',class: "form-button btn btn-success", 'data-loading-text'=> 'Salvando ...'%>
                  </div>
              </div>
              <div class="span1" style="padding-left: 5%">
                <%if @logueado.tipo != "xerif" %>
                    <%= f.check_box  :aceptarCondiciones%>
                    <%else%>
                      <%= f.check_box  :aceptarCondiciones,{:checked=>true}%>
                <%end%>
              </div>
              <div class="span4" style="padding-top: 5px">
                <%= f.label :aceptarCondiciones, 'Acepto las <a href="#myModal" role="button" class="btn-link" data-toggle="modal">condiciones</a>'.html_safe,:style => "float:left%;" %>
                <!-- Button to trigger modal -->
                <!--<a href="#myModal" role="button" class="btn-link" data-toggle="modal">condiciones</a>-->

                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Condiciones de compra</h3>
                  </div>
                  <div class="modal-body">
                    <p>Las condiciones son bla bla</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                  </div>
                </div>
              </div>
              <div class="span5 pull-right">
                <i class="icon-backward"> </i><%= link_to 'Volver y seguir comprando', :back, class: "btn btn-link" %>
              </div>

          </div><!--/row-fluid show-grid-->
        <% end %>
          </div><!--/row-fluid show-grid-->
        </div><!--/bs-docs-grid-->
      </div><!--/.well -->


    <%if @logueado.tipo != "xerif"%>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
              <li class="nav-header">HOLA, ¿QUIEN ERES?</li>
              <li class="divider"/></li>
              Soy: <%= @logueado.name %>
              <br> <br>  <br>
              <li class="nav-header">Compra</li>

              <div id="cart">
                <br>
                <li><%= render @cart %></li>
              </div>

              <div id="cartReembolso" style="display:none">
                <br>
                <table class="table table-condensed" style="border-top: 0px">
                    <%= render @cart.line_items %>
                    <tr class="total_line">
                    <tr><td style="border-top: 0px solid #000000"></td></tr>
                    <tr><td style="border-top: 0px solid #000000"></td></tr>
                    <td colspan="2" style="border-top: 5px solid #000000">Total del pedido</td>
                    <td class="total_cell" style="border-top: 5px solid #000000"><%= number_to_currency(@cart.total_price,:unit=>'€',format: "%n %u") %></td>
                    </tr>

                    <td colspan="2">Gastos Envio</td>
                    <td class="total_cell"> <%= number_to_currency(@cart.calculoGastosEnvio,:unit=>'€',format: "%n %u")%></td>
                    <tr>
                    </tr>

                    <td colspan="2">Gastos Reembolso</td>
                    <td class="total_cell"> <%= number_to_currency(@cart.gastosReembolso,:unit=>'€',format: "%n %u")%></td>
                    <tr>
                    </tr>

                    <td colspan="2">Total a Pagar</td>
                    <td class="total_cell"> <b><%= number_to_currency(@cart.totalAPagar+@cart.gastosReembolso,:unit=>'€',format: "%n %u")%></b></td>
                    <tr>
                    </tr>
                </table>

                <%= button_to 'Cancelar compra', @cart, method: :delete, class:"btn btn-warning",
                              data: { confirm: 'Are you sure?' } %>
              </div>
            </ul>
          </div>
        </div><!--/span-->
    <%else%>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
              <li class="nav-header">Compra</li>
                <br>
                <table class="table table-striped table-condensed ">
                    <%= render @order.line_items%>
                </table>
                Total del pedido: <%=@order.precioTotal%> €<br/>
                Gastos envio:  <%=@order.gastosEnvio%> €<br/>
                Total a pagar:  <b><%=@order.precioTotal+@order.gastosEnvio%> €</b>
            </ul>
          </div>
        </div><!--/span-->
    <%end%>