<div class="span12">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
            <div class="row-fluid">
              <div class="span12" align="right">
                <%= form_tag "/orders/busqueda", :method => 'put',:class => 'form-search' do %>
                    <p>
                      <%= text_field_tag :search, params[:search],class:"input-medium search-query",:placeholder => "Buscar pedido por.." %>
                      <%= select_tag :subject, options_for_select([ "Por código", "Por nombre", "Por email" ])%>
                      <%= submit_tag "Search", :value => 'OK',class:"btn" %>
                    </p>
                <% end %>
              </div>
            </div>
                <h3>Lista de tus pedidos</h3>
          <%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>


          <%if @orders%>
              <table class="table table-striped table-condensed ">
                <tr>
                  <th style="background-color: #E67026;">Codigo</th>
                  <th style="background-color: #E67026;">Nombre</th>
                  <th style="background-color: #E67026;">Teléfono</th>
                  <th style="background-color: #E67026;">Tipo pago</th>
                  <th style="background-color: #E67026;">Precio Total</th>
                  <th style="background-color: #E67026;">Estado Pedido</th>
                  <th style="background-color: #E67026;"></th>
                  <th style="background-color: #E67026;"></th>
                  <th style="background-color: #E67026;"></th>
                </tr>

                <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= order.name %></td>
                      <td><%= order.telefono %></td>
                      <td><%= order.pay_type %></td>
                      <td><%= order.precioTotal+order.gastosEnvio %></td>
                      <td><%= order.estadoPedido %></td>
                      <td>
                        <!-- Button to trigger modal -->
                        <a href="#myModa<%= order.id %>" role="button" class="btn" data-toggle="modal">Ver</a>
                        <!-- Modal -->
                        <div id="myModa<%= order.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Detalles del pedido con código <%= order.id %></h3>
                          </div>
                          <div class="modal-body">
                            <%= order.created_at.strftime("%d/%m/%Y") %> Realizado por: <%= order.usuario %> <br/><br/>

                            DATOS PERSONALES DEL PEDIDO<br/>
                            Nombre: <%= order.name %><br/>
                            Teléfono: <%= order.telefono %><br/>
                            Email: <%= order.email %><br/>
                            Direccion: <%= order.poblacion %> (<%= order.provincia %> ). <%= order.address %> , CP: <%= order.cp%>, <%= order.pais %>   <br/><br/>

                            DETALLES DEL PEDIDO<br/>
                            Comentarios del pedido: <%= order.details %><br/>
                            Estado del pedido a <%= order.updated_at.strftime("%d/%m/%Y") %>: <b><%= order.estadoPedido %></b><br/>
                            Localizador del pedido: <%= order.localizador %><br/><br/><br/>
                            <table class="table table-striped table-condensed ">
                              <%= render order.line_items %>
                            </table>
                            Total de la compra: <%= order.precioTotal %> € <br/>
                            Gastos de envio: <%= order.gastosEnvio %> €    <br/>
                            Total a pagar: <b><%= order.gastosEnvio+order.precioTotal %> €  </b>    <br/>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                          </div>
                        </div>
                      </td>
                      <td><%= link_to 'Modificar', edit_order_path(order),class:"btn btn-success" %></td>
                      <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: '¿Estás seguro?' },class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
              </table>
          <%else%>
              <p>No hay pedidos pendientes</p>
          <%end%>
          <br />
          <%= will_paginate @orders, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
        </div>
      </section>
    </div>
  </div>
  <div class="row-fluid">

    <div class="span4"></div>
    <div class="span4"></div>
    <div class="span4"><i class="icon-backward"> </i><%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link" %></div>
  </div>
</div>
