<table class="table table-condensed" style="border-top: 0px">
  <%= render(cart.line_items) %>
  <tr class="total_line">
  <tr><td style="border-top: 0px solid #000000"></td></tr>
  <tr><td style="border-top: 0px solid #000000"></td></tr>
    <td colspan="2" style="border-top: 5px solid #000000">Total del pedido</td>
    <td class="total_cell" style="border-top: 5px solid #000000"><%= number_to_currency(cart.total_price,:unit=>'€',format: "%n %u") %></td>
  </tr>
    <td colspan="2">Gastos Envio</td>
    <td class="total_cell"> <%= number_to_currency(cart.calculoGastosEnvio,:unit=>'€',format: "%n %u")%></td>
  <tr>
  </tr>

  <td colspan="2">Total a Pagar</td>
  <td class="total_cell"> <b><%= number_to_currency(cart.totalAPagar,:unit=>'€',format: "%n %u")%></b></td>
  <tr>
  </tr>

</table>

<% if cart.total_price>0%>
<%= button_to 'Cancelar compra', cart, method: :delete, class:"btn btn-warning",
    data: { confirm: 'Are you sure?' } %>
<%= button_to "Encargar pedido", new_order_path, method: :get, class:"btn btn-primary",id:"btnEncargar"%>
<%end%>