<script>
    $("#preguntas").css ("background-color", "#FF871F")
</script>
<div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
            ¿Quienes somos?
          </a>
        </div>
        <div id="collapseOne" class="accordion-body in collapse">
          <div class="accordion-inner">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Aquí tienes un resumen de como se efectuaría una compra
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            ¿Cómo se calculan los gastos de envio?
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse" >
          <div class="accordion-inner">
            <div class="row-fluid">
              <div class="span3">
                <table class="table table-striped table-condensed ">
                  <tr>
                    <th style="background-color: #E67026;">Kilos</th>
                    <th style="background-color: #E67026;">Precio</th>
                  </tr>
                  <% @tabla_gastos_envio.each do |gastos_envio| %>
                      <tr>
                        <td><%= gastos_envio.kilos %></td>
                        <td><%= gastos_envio.precio %></td>
                      </tr>
                  <% end %>
                </table>
              </div>
              <div class="span9">
                Para saber a cuanto van a ascender los gastos de envio lo más importante es saber la suma total del volumen de los productos que vamos a comprar.<br/>
                El volumen lo puedes saber consultando cada producto.<br/><br/>
                Vamos a suponer que la suma total del volumen a comprar es de <%=@producto1_volumen%> m<sup>3</sup>.<br/>
                Tambien debemos saber el factor de conversión que actualmente vale <%=@factor_conversion%> kg/m<sup>3</sup><br/>
                Ahora multiplicamos el factor de conversión con la suma del volumen: <%=@factor_conversion%> x <%=@producto1_volumen%>= <%=@producto1_volumen*@factor_conversion%> Kg<br/>
                Por último nos queda mirar la tabla de la izquierda, <%=@producto1_volumen*@factor_conversion%>Kg corresponde actualmente a un precio de gastos de envio de <%=@precioRango%>€<br/><br/>
                Si ademas al hacer el pedido seleccionamos que queremos un pedido contra-reembolso, entonces a los gastos de envio de <%=@precioRango%>€ se le sumarian los gastos de contra-reembolso que actualmente son <%=@gastos_reembolso%>€, quedando un total de  <%=@gastos_reembolso+@precioRango%>€ de gastos de envio<br/><br/><br/>
                (Este calculo esta realizado en función a los gastos de envio actuales en la web)
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Quiero hacer una devolución, ¿cómo lo hago?
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse" >
          <div class="accordion-inner">
            mio
          </div>
        </div>
      </div>


      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            ¿Qué métodos de pago son aceptados?
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse" >
          <div class="accordion-inner">
            mio5
          </div>
        </div>
      </div>


      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
            ¿Qué seguridad tiene esta web?
          </a>
        </div>
        <div id="collapseSix" class="accordion-body collapse" >
          <div class="accordion-inner">
            mio
          </div>
        </div>
      </div>

    </div>
</div>


