<script>
    $("#blog").css ("background-color", "#FF871F")
</script>
<%cont=0%>
<% @articles.each do |article| %>

        (<%=article.created_at.strftime("%d/%m/%Y")%>)
            <div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;">
              <div class="container-fluid">
                  <div class="row-fluid">
                    <h2><%=article.title%></h2>
                    <%=article.body.html_safe%>
                  </div>
              </div>
            </div>

                <div id="flip<%=cont.to_s%>"><h4>COMENTARIOS (<%=article.comments.count%>)</h4> </div>
                <div  id="panel<%=cont.to_s%>" style="display:none;">
                  <%cont=cont+1%>
                    <%article.comments.all(:order => 'created_at DESC').each do |comment|%>
                        <h4>(<%=comment.created_at.strftime("%d/%m/%Y") %>) <%=comment.name%>:</h4>
                        <html>
                        <%=comment.body.html_safe%>
                        </html>
                      <hr>
                    <% end %>
                </div>

      <br/><p><h4>Nuevo comentario para "<%=article.title%>"</h4></p>
      <%= form_for([@article, article.comments.build]) do |f| %>
          <div class="row-fluid">
          <div class="span4">
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <%if @logueado%>
                      <%=f.text_field :name,:placeholder => "¿Nombre?",class:"span2", style: "min-width: 90%;",value: @logueado.name %>
                    <%else%>
                      <%=f.text_field :name,:placeholder => "¿Nombre?",class:"span2", style: "min-width: 90%;" %>
                    <%end%>
                </div>
              </div>
            </div>

            <br>
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <%if @logueado%>
                        <%=f.text_field :email,:placeholder => "¿Email?", class:"span2",style: "min-width: 90%;",value:@logueado.email %>
                    <%else%>
                      <%=f.text_field :email,:placeholder => "¿Email?", class:"span2",style: "min-width: 90%;"%>
                    <%end%>
                </div>
              </div>
            </div>
            <br>
            <p><%= f.submit "PUBLICAR COMENTARIO",class:"btn btn-large btn-danger", style: "font-size: 20px;"%></p>
          </div>
          <div class="span8">
            <%= f.text_area :body ,:rows => 8, :cols => 40,class:"span12",:placeholder => "Opino que..."%>
          </div>
          <%= f.hidden_field :article_id, value:article.id %>

      <% end %>
      </div>
      <%if cont<3%>
        <hr>
      <%end%>
<% end %>
<%= will_paginate @articles, :previous_label => "<< ANTERIORES noticias", :next_label=>"SIGUIENTES noticias >>",:class => 'pagination pagination-large pagination-centered'%>
