<script>
    $("#disenyo").css ("background-color", "#FF871F")
</script>
  <div class="hero-unit">

    <div class="row-fluid">
      <div class="span6">
        <div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;/* IE10 Consumer Preview */ background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #FF871F 100%);min-height:750px">
          <h2 style="text-align: center;">
            <strong><u>DISE&Ntilde;O</u></strong>
          </h2>
          <h4 style="text-align: center;">
            <br />
            &iquest;Tienes algun objeto y estas aburrido de el? &iquest;Quieres tener alguna prenda o complemento realmente originales y &uacute;nicos?
            <br /><br />

            DIME LO QUE QUIERES Y LO DISE&Ntilde;ARE ESPECIALMENTE PARA TI
          </h4>
          <ol>
            <li>
              Ponte en contacto conmigo usando el formulario de mas abajo usando la opcion de <b>"Dise&ntilde;o"</b>. Dime qu&eacute; objeto deseas personalizar y si tienes alguna idea o motivo que quieras plasmar... si no dejalo de mi cuenta, &iexcl;TE SORPRENDERÁS! Puedes decirme el objeto, tu idea, mandarme enlaces e incluso<%= link_to 'adjuntarme un archivo ZIP o RAR con fotos dentro.',preguntas_frecuentes_path,class:"btn btn-link"%> </li>
            <li>
              Te har&eacute; uno o varios bocetos que te enviar&eacute; a tu correo electr&oacute;nico con el precio y gastos de envio de cada uno de ellos.</li>
            <li>
              T&uacute; eliges cu&aacute;l quieres, me pagas por Paypal o Transferencia y en cuanto reciba el pago me pongo manos a la obra.</li>
            <li>
              También si prefieres puedes hacerlo con un objeto que sea tuyo. En este caso una vez recibido el pago y el objeto me pondría en marcha.</li>
            <li>
              Una vez terminado te lo mandaré por Correos.</li>
            <li>
              En todo momento te informar&eacute; del estado del pedido.</li>
          </ol>
          <p style="text-align: center;">
            &iexcl;ASÍ DE FÁCIL!</p>
        </div>
      </div>

      <div class="span6">
        <div class="hero-unit" style="box-shadow: 0px 6px 12px -6px #8b0000;/* IE10 Consumer Preview */ background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #FF871F 100%);min-height:750px">
          <h2 style="text-align: center;">
            <strong><u>RESTAURACI&Oacute;N</u></strong>
            </h2>
          <h4 style="text-align: center;">
            <br />
            &iquest;Quieres revivir peque&ntilde;os muebles o elementos decorativos estropeados accidentalmente?</h4>
          <h4 style="text-align: center;">
            <br />
            DALES UNA NUEVA OPORTUNIDAD</h4>
          <ol>
            <li>
              Ponte en contacto conmigo a trav&eacute;s del formulario de abajo indicando la opci&oacute;n <strong>&quot;Restauraci&oacute;n&quot;</strong></li>
            <li>
              Env&iacute;ame fotos del mueble u otro objeto estropeado que quieras arreglar. &iquest;C&oacute;mo mandarme tus im&aacute;genes? Saldr&aacute;s de dudas visitando este<%= link_to 'enlace.',preguntas_frecuentes_path,class:"btn btn-link"%></li>
            <li>
              Te mandar&eacute; presupuestos indicando las diversas opciones para su reparaci&oacute;n, duraci&oacute;n del proyecto aproximada, precio y gastos de env&iacute;o.</li>
            <li>
              T&uacute; eliges la opci&oacute;n que prefieras. Me env&iacute;as el objeto y me haces el pago a trav&eacute;s de Paypal o Transferencia (conforme a las instrucciones que te dar&eacute; por email).</li>
            <li>
              Me pongo manos a la obra y tu objeto quedar&aacute; como nuevo.</li>
            <li>
              Una vez terminado el encargo te lo mando a la direcci&oacute;n que me indiques a trav&eacute;s de Correos.</li>
          </ol>
          <br />
        </div>
      </div>
    </div>
      <br>


    <div class="row-fluid">
      <div class="span12" align=center>
        <hr>
        <div class="span12" align=center >
          <span style=" font-size: 40px;"><b><u>HAZ TU PEDIDO DESDE AQUÍ</b></u> </span>
        </div>
        <br>
        <%= form_for @message, :url => disenyo_path do |form| %>
            <div class="row-fluid">
              <div class="span4" >
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend">
                      <div class="span1" align="right">
                        <%= form.label :name,'<span class="add-on" id="inputIcon"><i class="icon-user"></i></span>'.html_safe%>
                      </div>
                      <div class="span11" align="left" >
                        <%=form.text_field :name,:placeholder => "¿Nombre?", class:"span2",style: "min-width: 70%;" %>
                        <% if @message.errors[:name].present?  %>
                            <%= form.label :name,@message.errors[:name].join(", ")%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend">
                      <div class="span1" align="right">
                        <%= form.label :email,'<span class="add-on" id="inputIcon"><i class="icon-envelope"></i></span>'.html_safe%>
                      </div>
                      <div class="span11" align="left">
                        <%=form.text_field :email,:placeholder => "¿Email?", class:"span2",style: "min-width: 70%;" %>
                        <% if @message.errors[:email].present?  %>
                            <%= form.label :email,@message.errors[:email].join(", ")%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend" >
                      <div class="span1" align="right">
                        <%= form.label :telefono,'<span class="add-on" id="inputIcon"><i class="icon-signal"></i></span>'.html_safe%>
                      </div>
                      <div class="span11" align="left">
                        <%=form.text_field :telefono,:placeholder => "¿Teléfono?", class:"span2",style: "min-width: 65%;" %>
                        <% if @message.errors[:telefono].present?  %>
                            <%= form.label :telefono,@message.errors[:telefono].join(", ")%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= form.hidden_field :subject, value:"Diseño" %>
              </div>
            </div>
            <br/>
            <div class="row-fluid span12">
              <%= select_tag :subject, options_for_select([ "DISEÑO", "RESTAURACÍON" ]),prompt: 'De que tipo es tu idea, ¿Diseño o Restauración?',style: "min-width: 45%;" %>
              <% if @message.errors[:subject].present?  %>
                  <%= @message.errors[:subject].join(", ")%>
              <% end %>
              <br/>
            </div>

            <div class="row-fluid ">
              <%= form.text_area :body ,:size => "200x10",:placeholder => "Cuentame que deseas...",class:"span12"%>
              <% if @message.errors[:body].present?  %>
                  <%= form.label :body,@message.errors[:body].join(", ")%>
                  <br/><br/>
              <% end %>
            </div>
            <div class="row-fluid span12" >
              <%= form.file_field :archivo, style: "min-width: 30%;"%> (Máx 20MB. Te recomiendo usar un<%= link_to 'Archivo Zip',preguntas_frecuentes_path,class:"btn btn-link"%>que contenga varias imagenes)
              <% if @message.errors[:archivo].present?  %>
                  <br/>
                  <%= form.label :archivo,@message.errors[:archivo].join(", ")%>
              <% end %>
            </div>
            <br><br>
            <div class="actions">
              <%= form.submit "ENVIAR PROPUESTA", class:"btn btn-primary", style: "font-size: 25px;"%>
            </div>
        <% end %>
        <hr>
        </br>
        </br>
      </div>
    </div>

      <div class="row-fluid">
        <div class="span12">
            <div class="span2">
            </div>
            <div class="span8" style="text-align: center !important;font-size: 40px">
              ÚLTIMOS DISEÑOS PERSONALIZADOS
            </div>
            <div class="span2">
            </div>
        </div>
      </div>
      <br/>
      <%= render 'galeria_fotos/verGaleriaFotos'%>
  </div>



