// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class^="icon-"],
[class*=" icon-"] {
  background-image: image-url("glyphicons-halflings.png");
}
.icon-white {
  background-image: image-url("glyphicons-halflings-white.png");
}

[class*=" icon-"] {
  width: 24px;
  height: 24px;
  background-position: 24px 24px;
}

