body {
  /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);
}
footer{
  padding-bottom: 20px
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #fa5029;
  }
}

#redesSociales a{
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #A9E2F3;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  font-size: 25px;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:25px;
  height:25px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
input[type='checkbox']:checked {
  background: #abd;
}

#bajoBody{
  /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #00A3EF 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #00A3EF 100%);;min-height: 150px;
}
#navBar{
  /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FF871F 200%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FF871F 200%); /* Opera */ background-image: -o-linear-gradient(top, #FFFFFF 0%, #FF871F 200%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(2, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FF871F 200%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to bottom, #FFFFFF 0%, #FF871F 200%);
}
#desplegableBarraTienda{
  font-size: 20px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#btBar{
  font-size: 20px;
}

.accordion-heading{
  font-size: 25px;
  font-weight:bold;
  background: #E67026;
  text-align: center;
  a{
    color: antiquewhite;
  }
}

