// Place all the styles related to the store controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-unit {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.thumbnail .caption {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

#cart {
  table {
  border-top: 1px ;
  border-bottom: 1px ;
  margin-bottom: 10px;
  }
  .item_price {
    text-align: left;
  }
}

.well {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

