<div class="span12">
  <div class="hero-unit">
    <%= form_for(@product) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "Problema") %>. El producto no puede ser salvado:</h2>

          <ul>
          <% @product.errors.each do |attr, msg| %>
            <li><%= "#{msg}"%></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="row-fluid">
        <div class="span4">
          <div class="field">
            <%= f.label :title ,"Nombre (máximo 21 caracteres)"%>
            <%= f.text_field :title %>
          </div>
        </div>

        <div class="span4">
          <div class="field">
            <%= f.label :price, "Precio (mayor de cero)" %>
            <%= f.text_field :price %>
          </div>
        </div>

        <div class="span4">
          <div class="field">
            <%= f.label :volumen ,"Volumen (exprsado en m<sup>3</sup>, ej: 0.132)".html_safe%>
            <%= f.text_field :volumen %>
          </div>
        </div>
      <div class="row-fluid">
          <div class="span4">
            <div class="field">
              <%= f.label :photo, "<b><u>Imágen principal</u></b>".html_safe %>
              <%= f.file_field :photo  %>
            </div>
          </div>

          <div class="span4">
            <div class="field">
              <%= f.label :photoa, "Imágen de muestra A"  %>
              <%= f.file_field :photoa  %>
            </div>
          </div>

          <div class="span4">
            <div class="field">
              <%= f.label :photob, "Imágen de muestra B" %>
              <%= f.file_field :photob  %>
            </div>
          </div>
      </div>
      <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
          <div class="field">
            <%= f.label :tipo %>
            <%= f.select :tipo, Product::TIPOS_PRODUCTOS,
                         prompt: 'Selecciona tipo producto' %>
          </div>
        </div>
        <div class="span4"></div>
      </div>

      <div class="row-fluid">
        <div class="span12">
            <div class="field">
              <%= tinymce_assets %>
                <%= f.label :description, "Descripción" %>
                <%= f.text_area :description, :class => "tinymce span12", rows:10 %>
              <%= tinymce%>
             </div>
        </div>
      </div>

      <div class="row-fluid">
          <div class="span4">
              <div class="actions">
                <%= f.submit "ACEPTAR", class:"btn btn-primary"%>
              </div>
          </div>
          <div class="span4"></div>
          <div class="span4">
            <i class="icon-backward"> </i><%= link_to 'Volver a todos los productos', products_path, class: "btn btn-link" %>
          </div>
      </div>

    <% end %>

    </div>
  </div>
</div>


