<div class="span12">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
          <div class="row-fluid">
            <div class="span12" align="right">
              <%= form_tag "/products/busqueda", :method => 'put',:class => 'form-search' do %>
                  <p>
                    <%= text_field_tag :search, params[:search],class:"input-medium search-query",:placeholder => "Buscar por nombre" %>
                    <%= submit_tag "Search", :value => 'OK',class:"btn" %>
                  </p>
              <% end %>
            </div>
          </div>
          <h3>Lista de productos</h3>
          <%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link pull-right" %><i class="icon-backward pull-right"> </i>
          <%= link_to ' Nuevo producto', new_product_path, class:"btn btn-link pull-right" %><i class="icon-plus pull-right"></i>
          <%if @products%>
              <table class="table table-striped table-condensed ">
                <tr>
                  <th style="background-color: #E67026;">Título</th>
                  <th style="background-color: #E67026;">Descripción</th>
                  <th style="background-color: #E67026;">Precio</th>
                  <th style="background-color: #E67026;">Imagen</th>
                  <th style="background-color: #E67026;">Tipo</th>
                  <th style="background-color: #E67026;">Volumen</th>
                  <th style="background-color: #E67026;"></th>
                  <th style="background-color: #E67026;"></th>
                  <th style="background-color: #E67026;"></th>
                </tr>
                <% @products.each do |product| %>
                    <tr>
                      <td style="vertical-align: middle;"><%= product.title %></td>
                      <td style="vertical-align: middle;"><%= product.description.html_safe %></td>
                      <td style="vertical-align: middle;"><%= product.price %></td>
                      <td style="vertical-align: middle;"><%= image_tag product.photo_path , :size => "200x200"%></td>
                      <td style="vertical-align: middle;"><%= product.tipo %></td>
                      <td style="vertical-align: middle;"><%= product.volumen %></td>
                      <td style="vertical-align: middle;"><%= link_to 'Modificar', edit_product_path(product),class:"btn btn-success" %></td>
                      <td style="vertical-align: middle;"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
              </table>
          <%else%>
              <p>No hay productos</p>
          <%end%>
          <br />
          <%= will_paginate @products, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
        </div>
      </section>
    </div>
  </div>
  <div class="row-fluid">

    <div class="span4"></div>
    <div class="span4"></div>
    <div class="span4"><i class="icon-backward"> </i><%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link" %></div>
  </div>
</div>
