<div class="span9" style="">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12" style="min-height:250px">
          <div class="row-fluid">
              <div class="span8">
                    <script>
                        $("#ocultarCarro").css("display", "none");
                    </script>
                    <%=link_to(image_tag(@product.photo_path), @product.photo_path, class:"group2 thumbnail")%>
              </div>
              <div class="span4" style="padding-top: 5px">
                <%=link_to(image_tag(@product.photoa_path), @product.photoa_path, class:"group2 thumbnail")%>
                <%=link_to(image_tag(@product.photob_path), @product.photob_path, class:"group2 thumbnail")%>
              </div>
          </div>
          <div class="row-fluid" style="padding-top: 20px" aling="center" align="center">
            (Haga click en las imagenes para verlas mejor)
          </div>
          <br/>
          <div class="row-fluid" style="padding-top: 20px;padding-bottom: 20px">
            <div class="span8" style="padding-left: 20px">
              <h3><u><b><%= @product.title %></b></u></h3>
              <p><%= @product.description.html_safe %></p> <br/>
              <i class="icon-backward"> </i><%= link_to 'Volver y seguir comprando', :back, class: "btn btn-link" %>
            </div>
            <div class="span4 thumbnail" style="box-shadow: 0px 6px 12px -6px #8B0000;font-size: 20px;padding: 15px;padding-bottom: 0px">
              <span class="pull-right"> <b style="font-size: 30px"><%= @product.price %> €</b></span><br/><br/>
              <span>Tipo: <%= @product.tipo %> </span>     <br/>
              <span>Volumen: <%= @product.volumen %> m<sup>3</sup>  </span>  <br/><br/>
              <%= button_to "Comprar", line_items_path(product_id: @product), class:"btn btn-success pull-center",remote: true%>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">HOLA, ¿QUIEN ERES?</li>
      <li class="divider"/></li>
      <div class="row-fluid">
        <br> <span style="font-size: 20px;"  >Soy:
        <%if @logueado%>
                <%=@logueado.name %>
            <br><br>
                <i class="icon-hand-right"> </i><%= link_to " Ver mis compras y detalles", '/users/areaUsuario',class:"btn btn-link",style:"padding: 0px 0px" %><br/>
            <i class="icon-hand-right"> </i><%= link_to ' Modificar mis datos', edit_user_path(@logueado),class:"btn btn-link",style:"padding: 0px 0px" %>
            <%if @logueado.tipo=="xerif"%>
                    <%= link_to "Area de Administrador", admin_path,class:"btn btn-link",style:"padding: 0px 0px" %>
                <%end %>
            <%else %>
                <%='٩(◕̯◕)۶'%>  <div class="pull-right"><%= button_to "Identificate", login_path, class:"btn btn-success"%></div>
                <div class="pull-left"><%= link_to "Dame una nueva contraseña", new_password_reset_path, class:"btn btn-link"%></div>

            <%end %>
          </span>
        <%if !@logueado%>
            <div class="row-fluid">
              <div class="span12" align="center">
                Si aun no eres usuario:<br/><br/>
                <%= button_to "¡Regístrate!",new_user_path,method: :get, class:"btn btn-success"%>
              </div>
            </div>
        <%else %>
            <br><br>
            <div class="row-fluid">
              <div class="span6" align="center"><%= button_to "Cerrar sesion", logout_path,method: :delete, class:"btn btn-success"%></div>
            </div>
        <%end %>
      </div>
    </ul>
  </div>
</div>

<div class="span3" id="compra">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">Compra</li>
      <br>
      <div id="cart">
        <li><%= render @cart %></li>
      </div>
    </ul>
  </div>
</div>

