$("#notice").hide();

$('#cart').html("<%=j render @cart %>");
$("html, body").animate({ scrollTop: $('#cart').height() }, 100);
$('#current_item').css({'background-color':'#FFEF00'}).
animate({'background-color':'transparent'}, 5000);

