<div class="span9" style="">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12" style="min-height:580px">
          <script>
              $("#ocultarCarro").css("display", "none");
          </script>
          <ul class="thumbnails"  >
            <% @products.each do |todos_productos| %>
                <li class="span4" style="border:1px solid black;">
                  <div class="thumbnail">
                    <%=link_to(image_tag(todos_productos.photo_path), todos_productos, class:"thumbnail")%>
                    <div class="caption">
                      <h5><i class="icon-search"></i> <%= link_to todos_productos.title,todos_productos, :method => "get"%></h5>
                      <section class="row-fluid">
                        <div class="span1">
                        </div>
                        <div class="span4">
                          <h3 style="margin-bottom: 0px;padding-top:0px ;"><%= sprintf("%0.02f€",todos_productos.price)%></h3>
                        </div>
                        <div class="span2">
                        </div>
                        <div class="span4">
                          <h3 style="margin-bottom: 0px;padding-top:0px ;"><%= button_to "Comprar", line_items_path(product_id: todos_productos), class:"btn btn-success largue container-fluid",remote: true%></h3>
                        </div>
                      </section>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
          <%if @products.blank?%>
            No hay productos para esta busqueda
          <%end%>
        </div>
      </section>
    </div>
    <%= will_paginate @products, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
  </div>
</div>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">BUSQUEDA</li>
      <li class="divider"/></li>
      <br/>
        <%= form_tag "/store/busqueda", :method => 'put',:class => 'form-search' do %>
            <p>
              <%= text_field_tag :search, params[:search],class:"input-medium search-query",:placeholder => "nombre del producto" %>
              <%= submit_tag "Search", :value => 'OK',class:"btn" %>
            </p>
        <% end %>
    </ul>
  </div>
</div>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">HOLA, ¿QUIEN ERES?</li>
      <li class="divider"/></li>
      <div class="row-fluid">
      <br> <span style="font-size: 20px;"  >Soy:
            <%if @logueado%>
                <%=@logueado.name %>
                <br><br>
                <i class="icon-hand-right"> </i><%= link_to " Ver mis compras y detalles", '/users/areaUsuario',class:"btn btn-link",style:"padding: 0px 0px" %><br/>
                <i class="icon-hand-right"> </i><%= link_to ' Modificar mis datos', edit_user_path(@logueado),class:"btn btn-link",style:"padding: 0px 0px" %>
                <%if @logueado.tipo=="xerif"%>
                    <%= link_to "Area de Administrador", admin_path,class:"btn btn-link",style:"padding: 0px 0px" %>
                <%end %>
            <%else %>
                <%='٩(◕̯◕)۶'%> <div class="pull-right"><%= button_to "Identificate", login_path, class:"btn btn-success"%></div>
                <div class="pull-left"><%= link_to "Dame una nueva contraseña", new_password_reset_path, class:"btn btn-link"%></div>
            <%end %>
          </span>
      <%if !@logueado%>
          <div class="row-fluid">
            <div class="span12" align="center">
              Si aun no eres usuario:<br/><br/>
              <%= button_to "¡Regístrate!",new_user_path,method: :get, class:"btn btn-success"%>
            </div>
          </div>
      <%else %>
          <br><br>
          <div class="row-fluid">
            <div class="span6" align="center"><%= button_to "Cerrar sesion", logout_path,method: :delete, class:"btn btn-success"%></div>
          </div>
      <%end %>
      </div>
    </ul>
  </div>
</div><!--/span-->

<div class="span3" id="compra">

  <div class="well sidebar-nav">
    <ul class="nav nav-list" style="padding-left: 0px;padding-right: 0px">
      <li class="nav-header">Compra</li>
      <br>
      <div id="cart">
        <li><%= render @cart %></li>
      </div>
    </ul>
  </div>
</div><!--/span-->
