<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'iconoWeb.ico' %>
  <title>En LaMancha Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "carts", :media => "all" %>
  <%= stylesheet_link_tag    "colorbox", :media => "all" %>
  <%= stylesheet_link_tag    "scaffolds", :media => "all" %>
  <%= stylesheet_link_tag    "store", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.colorbox-min" %>
  <%= javascript_include_tag "jquery.scrollTop" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row-fluid show-grid" id="bajoBody">
    <div class="span9">
        <%=link_to(image_tag("logo.png"), inicio_path, class:"btn btn-link")%>
    </div>
    <div class="span3">
      <br/>
      <li id="redesSociales" class="span3">
        <%= link_to (image_tag('twitter.png',:title => "Ir al canal de Twitter",:size => "50x50")),"https://twitter.com/EnLaManchaOn",:target => "_blank",class:"thumbnail"%>
      </li>
      <li id="redesSociales" class="span3">
        <%= link_to (image_tag('youtube.png',:title => "Ir al canal de Youtube",:size => "50x50")),"http://www.youtube.com/channel/UCbT1STH6RLMXBrw68w3oCWw",:target => "_blank",class:"thumbnail"%>
      </li>
      <li id="redesSociales" class="span3">
        <%= link_to (image_tag('facebook.png',:title => "Ir al canal de Facebook",:size => "50x50")),"http://www.facebook.com",:target => "_blank",class:"thumbnail"%>
      </li>
      <br/> <br/><br/>  <br/> <br/><br/>

      <div id="ocultarCarro" onClick="location.href='<%=store_path%>'">
        <img src="/assets/shopping-cart_64_light.png" />
        <div class="bljaIMGtex" style="color:#000000;">
          <p><%=@nItems.to_s%></p>
        </div>
      </div>
    </div>
  </div>

<div class="navbar" style="margin-bottom:0px;">
  <div class="navbar-inner" id="navBar">
    <div class="container">
      <!-- brand class is from boostrap.css  -->
      <div class="nav-collapse">
        <ul class="nav">
          <li style="padding-right: 10px">
            <%=link_to(image_tag("/assets/home_icon.png",:size => "20x20"), inicio_path, class:"thumbnail",style:"padding: 9px 9px;")%>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="desplegableBarraTienda">
              TIENDA <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li align="center"><a href="<%=store_path%>">TODA LA TIENDA</a></li>
              <li class="divider"/>
              <li><a href="/store/ceramica">CERAMICA</a></li>
              <li><a href="/store/pintura">PINTURA</a></li>
              <li><a href="/store/jabones_naturales">JABONES NATURALES</a></li>
              <li><a href="/store/serijos">SERIJOS</a></li>
              <li><a href="/store/bisuteria">BISUTERIA</a></li>
              <li><a href="/store/decoracion">DECORACIÓN</a></li>
              <li><a href="/store/antiguedades">ANTIGÜEDADES</a></li>
              <li><a href="/store/muebles">MUEBLES</a></li>
              <li><a href="/store/vinos">VINOS</a></li>
              <li><a href="/store/quesos">QUESOS</a></li>
              <li><a href="/store/souvenires">SOUVENIRES</a></li>
              <li><a href="/store/varios">VARIOS</a></li>
            </ul>
          </li>
          <li id="btBar"><%= link_to 'DISEÑO & RESTAURACIÓN',disenyo_path  %></li>
          <li id="btBar"><%= link_to 'ZONA VERDE(blog)',"/blog/index.html" %></li>
          <li id="btBar"><%= link_to 'PREGUNTAS',preguntas_frecuentes_path%></li>
          <li id="btBar"><%= link_to 'CONTACTO',contacto_path%></li>
          <li class="divider-vertical"/>
        </ul>

        <ul class="nav pull-right">
          <%if @logueado%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">     <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li align="center">

                <%if @logueado.tipo=="xerif"%>
                    <a href="<%=admin_path%>">Area Admin</a>
                <%else%>
                    <a href="/users/areaUsuario">Area Usuario</a>
                <%end%>
              </li>
              <%if @logueado.tipo!="xerif"%>
                  <li align="center">
                    <a href="<%=edit_user_path(@logueado)%>">Modificar mis datos</a>
                  </li>
              <%end%>
              <li class="divider"/>

              <li>
                <%= link_to "Cerrar sesion", logout_path,method: :delete%>
              </li>
            </ul>
          </li>
          <%end%>
          <li>
              <%if @logueado%>
                  <%= link_to @logueado.name.to_s, '/users/areaUsuario',class:"btn btn-link",style:"padding: 0px 0px" %>
              <%else %>
                  <%= link_to 'Soy: ٩(◕̯◕)۶', login_path,class:"btn btn-link",style:"padding: 0px 0px" %>
              <%end %>
           </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<br>
<h1 align="center"><%= @tituloPagina%></h1>
<% if notice %>
    <div class="alert alert-error" id="notice">
      <button type="button" class="close" data-dismiss="alert">×</button>
    <span align="center"><p id="notice"><%= notice.html_safe %></p> </span>
    </div>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= yield %>
  </div>
  <hr>
  <!----------------------------------------------------------------------------------------------->
  <footer>
    <div class="row-fluid">
      <div class="span4">
        Diseño y programación<br/>
        &copy; <%=mail_to "marcos.martingm@gmail.com", "Marcos Martín García-Muñoz",class:"btn btn-link" %>
      </div>
    </div>
  </footer>
  <!----------------------------------------------------------------------------------------------->

</div><!--/.fluid-container-->
</body>
</html>