<div class="span12">
  <div class="hero-unit">
    <%= form_for(@galeria_foto, :html => { :class => 'form-horizontal' }) do |f| %>
      <% if @galeria_foto.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@galeria_foto.errors.count, "Problema") %>. La imagen no puede ser guardada:</h2>

          <ul>
          <% @galeria_foto.errors.each do |attr, msg| %>
            <li><%= "#{msg}"%></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row-fluid">
          <div class="span6">
            <%= f.label :titulo,"Título"  %>
            <%= f.text_field :titulo ,class:"input-large"%>
          </div>

          <div class="span6">
            <%= f.label :photo,"Selecciona imagen"  %>
            <%= f.file_field :photo, class:"btn btn-file" %>
          </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
        <br/>
          <%= tinymce_assets %>
            <%= f.label :descripcion, "Descripción" %>
            <%= f.text_area :descripcion, :class => "tinymce span12", rows:10%>
          <%= tinymce%>
        </div>
      </div>

      <div class="row-fluid" style="padding-top: 20px">
        <div class="span4">
          <div class="actions">
            <%= f.submit "SUBIR IMAGEN!", class:"btn btn-primary"  %>
          </div>
        </div>
        <div class="span4"></div>
        <div class="span4">
          <i class="icon-backward"> </i><%= link_to 'Volver a galeria de fotos', galeria_fotos_path, class: "btn btn-link" %>
        </div>
       </div>
    <% end %>
  </div>
</div>

