<div id="container-fluid">
  <section class="row-fluid" >
    <div class="span12">
      <ul class="thumbnails"  >
        <% @galeria_fotos.each do |galeria_foto| %>

            <li class="span4" style="border:1px solid black;">
              <div class="thumbnail">
                <%=link_to(image_tag(galeria_foto.photo_path), galeria_foto, class:"thumbnail")%>
                <div class="caption">
                  <h4><i class="icon-search"></i> <%= link_to galeria_foto.titulo,galeria_foto, :method => "get"%></h4>
                </div>
              </div>
            </li>

        <% end %>
      </ul>
    </div>
  </section>
</div>
<%= will_paginate @galeria_fotos, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>

