<div class="span12" style="">
  <div class="hero-unit" style="/* IE10 Consumer Preview */ background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Opera */ background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FF871F)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FF871F 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to top, #FFFFFF 0%, #FF871F 100%);">
    <div id="container-fluid">
       <div class="row-fluid" style="padding-top: 20px">
         <div class="span4">
           <p style="font-size: 30px">
             <b>Titulo:</b>
             <%= @galeria_foto.titulo %>
           </p>
         </div>
       </div>
      <div class="row-fluid" style="padding-top: 20px">
        <div class="span3"></div>
        <div class="span6">
          <%=link_to(image_tag(@galeria_foto.photo_path), @galeria_foto.photo_path, class:"group2 thumbnail")%>
        </div>
        <div class="span3"></div>
      </div>
      <div class="row-fluid" style="padding-top: 20px" aling="center" align="center">
          (Haga click en las image para verla mejor)
      </div>
      <div class="row-fluid" style="padding-top: 20px">
        <div class="span12">
          <b>Descripcion:</b><br/>
          <%= @galeria_foto.descripcion.html_safe %>
        </div>
      </div>
      <div class="row-fluid" style="padding-top: 30px;padding-bottom: 20px">
        <%if @logueado and @logueado.tipo=="xerif"%>
            <div class="span4">
                <%= link_to 'Modificar', edit_galeria_foto_path(@galeria_foto),class:"btn btn-success" %>
            </div>
            <div class="span4">
              <i class="icon-backward"> </i><%= link_to 'Volver a la galeria fotos', galeria_fotos_path, class: "btn btn-link" %>
            </div>
            <div class="span4">
              <i class="icon-backward"> </i><%= link_to 'Volver al area de administración', admin_path, class: "btn btn-link" %>
            </div>
            <%else%>
            <div class="span4">
              <i class="icon-backward"> </i><%= link_to 'Volver', :back, class: "btn btn-link" %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
