<div class="span12">
  <div class="hero-unit">
    <div id="container-fluid">
      <section class="row-fluid" >
        <div class="span12">
          <ul class="thumbnails"  >
<% @galeria_fotos.each do |galeria_foto| %>

            <li class="span4" style="border:1px solid black;">
              <div class="thumbnail">
              <%=link_to(image_tag(galeria_foto.photo_path, sizes:"200x200"), galeria_foto.photo_path, class:"thumbnail")%>
              <div class="caption">
                <h3><%= galeria_foto.titulo%></h3>
              </div>
              </div>
            </li>

<% end %>
          </ul>
        </div>
      </section>
    </div>
    <%= will_paginate @galeria_fotos, :previous_label => "Atras", :next_label=>"Siguiente",:class => 'pagination pagination-large pagination-centered'%>
  </div>
</div>